*{
    box-sizing: border-box;
}
/** LOADER **/
.cs-loader {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.cs-loader-inner {
    transform: translateY(-50%);
    top: 50%;
    position: absolute;
    width: calc(100% - 200px);
    color: #3f51b5;
    padding: 0 100px;
    text-align: center;
}

.cs-loader-inner label {
    font-size: 40px;
    opacity: 0;
    display:inline-block;
}

@keyframes lol {
0% {
    opacity: 0;
    transform: translateX(-300px);
}
33% {
    opacity: 1;
    transform: translateX(0px);
}
66% {
    opacity: 1;
    transform: translateX(0px);
}
100% {
    opacity: 0;
    transform: translateX(300px);
}
}

@-webkit-keyframes lol {
0% {
    opacity: 0;
    -webkit-transform: translateX(-300px);
}
33% {
    opacity: 1;
    -webkit-transform: translateX(0px);
}
66% {
    opacity: 1;
    -webkit-transform: translateX(0px);
}
100% {
    opacity: 0;
    -webkit-transform: translateX(300px);
}
}

.cs-loader-inner label:nth-child(6) {
-webkit-animation: lol 3s infinite ease-in-out;
animation: lol 3s infinite ease-in-out;
}

.cs-loader-inner label:nth-child(5) {
-webkit-animation: lol 3s 100ms infinite ease-in-out;
animation: lol 3s 100ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(4) {
-webkit-animation: lol 3s 200ms infinite ease-in-out;
animation: lol 3s 200ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(3) {
-webkit-animation: lol 3s 300ms infinite ease-in-out;
animation: lol 3s 300ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(2) {
-webkit-animation: lol 3s 400ms infinite ease-in-out;
animation: lol 3s 400ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(1) {
-webkit-animation: lol 3s 500ms infinite ease-in-out;
animation: lol 3s 500ms infinite ease-in-out;
}

/** HOME **/

.home-btn-container{
    float: left;
    width: 50%;
}
.home-btn-container:nth-child(odd) {
    padding: 35px 20px 0 40px;
}
.home-btn-container:nth-child(even) {
    padding: 35px 40px 0 20px;
}
.btn-categories{
    width: 100%;
    height: 50px;
}
.btn-categories .cat-title{
    float: left;
}
.btn-categories .cat-title .material-icons{
    margin-right: 10px !important;
}
.btn-categories .cat-number{
    float: right;
}

#btn-home{
    cursor: pointer;
}

#back{
    display: none;
    cursor: pointer;
}

.btn-interation{
    margin: 20px 40px;
    background: #3f51b5 !important;
}

/********** ROTATING *************/

@-webkit-keyframes rotating /* Safari and Chrome */ {
    from {
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes rotating {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
.rotating {
    -webkit-animation: rotating 1s linear infinite;
    -moz-animation: rotating 1s linear infinite;
    -ms-animation: rotating 1s linear infinite;
    -o-animation: rotating 1s linear infinite;
    animation: rotating 1s linear infinite;
    margin: -12px;
}

/********************************/
.select-filter{
    width: 80px;
    height: 30px;
    border: 1.2px solid #3f51b5;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    border-radius: 2px;
    padding: 0 5px;
}
.input-filter{
    width: 200px;
    height: 30px;
    border: 1.2px solid #3f51b5;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    border-radius: 2px;
    padding: 0 10px;
}
.select-filter:focus,.input-filter:focus{
    outline-offset: inherit;
    outline: inherit;
}

/********************************/
.input-post{
    padding: 0 8px;
    margin: 10px auto;
    width: 50%;
    display: block;
    position: relative;
    background: #fff;
    border-radius: 1px;
    color: #404040;
    direction: ltr;
    height: 44px;
    font-size: 16px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #b9b9b9;
    border-top: 1px solid #a0a0a0;
    -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}
.input-post:focus{
    outline: #3f51b5 auto 5px;
}

/*------------------------------------------- 
*                  SWITCHER
-------------------------------------------*/

.switcher {
    display: inline-block;
    /* height: 30px; */
    margin-top: 3px;
    padding: 4px;
    background: #fff;
    border-radius: 2px;
    width: 210px;
    border-radius: 30px;
    border: solid 1px #ddd;
    position: relative;
}

.switcher__input {
    display: none;
}

.switcher__label {
    float: left;
    width: 50%;
    font-size: 12px;
    line-height: 30px;
    color: #000;
    text-align: center;
    cursor: pointer;
    position: inherit;
    z-index: 10;
    transition: color 0.2s cubic-bezier(0.4, 0.0, 0.2, 1);
    will-change: transform;
}

.switcher__toggle {
    position: absolute;
    float: left;
    height: 30px;
    width: 50%;
    font-size: 12px;
    line-height: 30px;
    cursor: pointer;
    background-color: #3366cc;
    border-radius: 30px;
    left: 5px;
    top: 4px;
    transition: left 0.25s cubic-bezier(0.4, 0.0, 0.2, 1);
    will-change: transform;
}

.switcher__input:checked+.switcher__label {
    color: #fff;
}

.switcher__input--yang:checked~.switcher__toggle {
    left: 100px;
}